//全局公用样式文件

a {
  color: $base_color;
}

body {
  overflow: auto !important;
}

.base_color {
  color: $base_color !important;
}

.danger_color {
  color: $danger_color !important;
}

.success_color {
  color: $success_color !important;
}

.warning_color {
  color: $warning_color !important;
}

.default_color {
  color: $default_color !important;
}


.not-autocomplete {
  position: absolute !important;
  height: 0 !important;
  line-height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
}

.udl {
  text-decoration: underline !important;
}

.oh {
  overflow: hidden !important;
}

.cl3 {
  color: #333 !important;
}

.cl6 {
  color: #666 !important;
}

.cl9 {
  color: #999 !important;
}

.clf {
  color: #fff !important;
}

.cl_danger {
  color: #FE2042 !important;
}

.cof_5 {
  color: rgba(255, 255, 255, .5);
}

.cof_6 {
  color: rgba(255, 255, 255, .6);
}

.cof_7 {
  color: rgba(255, 255, 255, .7);
}

.cof_8 {
  color: rgba(255, 255, 255, .8);
}

.pr {
  position: relative !important;
}

.pa {
  position: absolute !important;
}

.pf {
  position: fixed !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.f12 {
  font-size: 24px !important;
}

.f13 {
  font-size: 26px !important;
}

.f14 {
  font-size: 28px !important;
}

.f16 {
  font-size: 32px !important;
}

.f18 {
  font-size: 36px !important;
}

.f20 {
  font-size: 40px !important;
}

.f22 {
  font-size: 44px !important;
}

.f24 {
  font-size:48px !important;
}

.f26 {
  font-size: 52px !important;
}

.f28 {
  font-size: 56px !important;
}

.f30 {
  font-size: 60px !important;
}

.lsp1 {
  letter-spacing: 2px !important;
}

.lsp2 {
  letter-spacing: 4px !important;
}

.lsp3 {
  letter-spacing: 6px !important;
}

.lsp4 {
  letter-spacing: 8px !important;
}

.lsp5 {
  letter-spacing: 10px !important;
}

.lsp12 {
  letter-spacing: 24px !important;
}
.db {
  display: block !important;
}

.dib {
  display: inline-block !important;
}

.ac {
  text-align: center !important;
}

.ar {
  text-align: right !important;
}

.al {
  text-align: left !important;
}

.cp {
  cursor: pointer !important;

  .el-input__inner {
    cursor: pointer !important;
  }
}

.lh1 {
  line-height: 1 !important;
}

.t0 {
  top: 0 !important;
}

.r0 {
  right: 0 !important;
}

.vtm {
  vertical-align: middle !important;
}

.vtt {
  vertical-align: top !important;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
}