//全局重置样式文件
* {
    box-sizing: border-box;

    &::after {
        box-sizing: border-box;
    }

    &::before {
        box-sizing: border-box;
    }
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

p {
    margin: 0;
}

ul,
ol,
dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit;
}


textarea {
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

video {
    outline: 0 none;

    &:focus {
        outline: 0 none;
    }
}

a {
    background-color: transparent;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    transition: color .15s;
}

b,
strong {
    font-weight: normal;
}

i {
    font-style: normal;
}

s {
    text-decoration: none;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix {
    *zoom: 1;

    &::before {
        content: "";
        height: 0;
        line-height: 0;
        display: block;
        visibility: hidden;
        clear: both;
    }

    &::after {
        content: "";
        height: 0;
        line-height: 0;
        display: block;
        visibility: hidden;
        clear: both;
    }
}